@font-face {
    font-family: "Jalnan";
    src: url("Assets/Fonts/Jalnan.ttf") format("truetype");
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal; font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background: radial-gradient(#FFFFFF,#FAD7D5);
}

.page-title {
  color: #E95E6E;
  font-family: Jalnan, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  font-family: Jalnan, sans-serif;
  color: #F4B1AD;
  font-size: 3em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  margin: 20px auto;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 261px;
  width: 161px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius:12px;
  border-width:0px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front{
  transform: rotateY(0)
}

.card.matched .card-value {
  animation: dance 1s linear infinite 500ms;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #E95E6E;
  font-family: Jalnan, sans-serif;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow{
  from{
    background-color: rgba(0, 0, 0, 0);
    font-size:0;
  }
  to{
    background-color: rgba(0, 0, 0, .8);
    font-size:10em;
  }
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

.card-back{
  background-color: #F6E5BE;
  border-color: #F6E5BE;
}

.card-front{
  background-color: #F6E5BE;
  transform: rotateY(180deg);
}

.inner-outline{
  outline: 3px solid white;
  outline-offset: -10px;
}

.card-value {
  transition: transform 100ms ease-in-out;
  transform: scale(.9)
}

.card-front:hover .card-value {
  transform: scale(1);
}

.bean {
  position: absolute;
  width: 161px;
}

.bean-top {
  top:0;
  transform: translateY(-10px);
  transition: transform 100ms ease-in-out;
}

.bean-bottom{
  bottom:0;
  transform: translateY(10px);
  transition: transform 100ms ease-in-out
}

.card-back:hover .bean-top {
  transform: translateY(0)
}

.card-back:hover .bean-bottom {
  transform: translateY(0)
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns:
    repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}